<meta charset="utf-8"/>
<title>Test</title>
<meta content="IE=Edge" name="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/css/main.css" rel="stylesheet"/>
</meta>