<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <body>
            <% include ../partials/header.ejs %>
            <main class="container">
                <aside>
                    <nav id="sidebarNav">
                    </nav>
                </aside>
                <article>
                    <form method="post">
                        <div class="row">
                            <input name="title" placeholder="Title" type="text" value="<%= title %>"></input>
                            <button type="submit">
                                Save
                            </button>
                        </div>
                        <div class="row">
                            <input name="parent" placeholder="Parent" type="text"></input>
                        </div>
                        <textarea name="text"></textarea>
                    </form>
                </article>
            </main>
            <% include ../partials/footer.ejs %>
        </body>
    </head>
</html>