<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <body>
            <% include ../partials/header.ejs %>
            <main class="container">
            	<aside>
            		<nav id="sidebarNav">
            		</nav>
            	</aside>
            	<article>
                    <%= text.content %>
            	</article>
            </main>
            <% include ../partials/footer.ejs %>
        </body>
    </head>
</html>